* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header {
    text-align: center;
    margin: 20px 20px 15px;
}

header h1 {
    margin: 0;
    font-size: 30px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 25px 25px;
    margin: auto;
}

.searchContainer {
    text-align: center;
}

.searchContainer h2 {
    font-size: 20px;
}

.wrapper img {
    width: 100%;
    margin-bottom: 25px;
    height: auto;
}

#input {
    font-size: 16px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

#input:focus {
    outline: none;
}

@media (min-width: 768px) {
    .wrapper {
        width: 95%;
    }    


    .innerWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #input {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .wrapper {
        max-width: 90%;
    }
}
